include ./image

mixin card-buy(event)
  .card-buy
    .card-buy__img
      .img-ratio
        +image(event.img, 540, null, `Афиша ${event.title}`)

    div
      .card-buy__header
        h1.card-buy__title=event.title
        .card-buy__price #{event.full_price} GEL
        if event.infopay
          .card-buy__date=event.infopay
      .card-buy__control
        button.card-buy__btn(disabled) Купить на сайте (in coming)
        if buyButton
          a.card-buy__btn(href=buyButton.link target="_blank")=buyButton.text

    .card-buy__content
      .card-buy__description
        each sentence in event.description
          p=sentence
      if event.start_time && event.place && event.duration
        .card-buy__note
          if event.start_time
            span=event.start_time
          if event.place
            a(href=event.place.url target="_blank")=event.place.text
          if event.duration
            span=event.duration
