mixin image(path, width, height, altText)
  picture
    source(srcset=`${path}?as=avif&width=${width}&quality=50` type="image/avif")
    //- source(srcset=`${path}?as=webp&width=${500}&quality=70` type="image/webp")
    img(src=`${path}?width=${width}&quality=70` width=width alt=altText)
